/* ======================================

1 - Base
2 - Position
3 - < 960px
4 - 640px < 960px
5 - 320px < 640px
6 - > 320px

====================================== */


/* ======================================
1 - Base
====================================== */

.flexo-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-bottom: 2rem;
}

.flexo-container:last-of-type { margin-bottom: 0; }

.flexo-container.row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.flexo-container.col {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.flexo-container.col-reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
}


/* ======================================
2 - Position
====================================== */

.flexo-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.flexo-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.flexo-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.flexo-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.flexo-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.flexo-top {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
}

.flexo-middle {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.flexo-bottom {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.flexo-first {
    -webkit-order: -1;
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
}

.flexo-last {
    -webkit-order: 1;
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
}


/* ======================================
3 - < 960px
====================================== */

[class*="grid-"] {
    box-sizing: border-box;
    padding: 1rem;
}

@for $i from 1 through $grid-number {

    .grid-#{$i} { width: calc( 100% / #{$grid-number} * #{$i} ); }

    .grid-#{$i}-offset { margin-left: calc( 100% / #{$grid-number} * #{$i}); }
    
}

.grid-auto {
    -webkit-flex: 1 1 auto ;
    -ms-flex: 1 1 auto ;
    -webkit-box-flex: 1 ;
    flex: 1 1 auto ;
    max-width: 100%;
}


/* ======================================
4 - 640px < 960px
====================================== */

@media screen and (min-width: 641px) and (max-width: 960px) {

    [class*="grid-"] {
        box-sizing: border-box;
        padding: 1rem;
    }

    @for $i from 1 through $grid-number {

        .grid-#{$i}-l { width: calc( 100% / #{$grid-number} * #{$i} ); }

        .grid-#{$i}-offset-l { margin-left: calc( 100% / #{$grid-number} * #{$i}); }
        
    }

    .grid-auto-l {
        -webkit-flex: 1 1 auto ;
        -ms-flex: 1 1 auto ;
        -webkit-box-flex: 1 ;
        flex: 1 1 auto ;
        max-width: 100%;
    }

    [class*="-l"]:not([class*="grid-auto"]) {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }

}


/* ======================================
5 - 320px < 640px
====================================== */

@media screen and (min-width: 321px) and (max-width: 640px) {

    @for $i from 1 through $grid-number {

        .grid-#{$i}-m { width: calc( 100% / #{$grid-number} * #{$i} ); }

        .grid-#{$i}-offset-m { margin-left: calc( 100% / #{$grid-number} * #{$i}); }
        
    }

    .grid-auto-m {
        -webkit-flex: 1 1 auto ;
        -ms-flex: 1 1 auto ;
        -webkit-box-flex: 1 ;
        flex: 1 1 auto ;
        max-width: 100%;
    }

    [class*="-m"]:not([class*="grid-auto"]) {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }

}


/* ======================================
6 - > 320px
====================================== */

@media screen and (max-width: 320px) {

    @for $i from 1 through $grid-number {

        .grid-#{$i}-s { width: calc( 100% / #{$grid-number} * #{$i} ); }

        .grid-#{$i}-offset-s { margin-left: calc( 100% / #{$grid-number} * #{$i}); }
        
    }

    .grid-auto-s {
        -webkit-flex: 1 1 auto ;
        -ms-flex: 1 1 auto ;
        -webkit-box-flex: 1 ;
        flex: 1 1 auto ;
        max-width: 100%;
    }

    [class*="-s"]:not([class*="grid-auto"]) {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }

}