{
  "presets": [
    ["env", { "modules": false }],
    "es2015",
    "react"
  ],

  "plugins": ["syntax-dynamic-import"],

  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}