/*----------------------------------------

2012 - 2016 @ All rights reserved
Author: Kevin Py
Website: www.kevinpy.com
Flexo v 0.0.1
Website: https://kevinpy.com/Projects/Flexo/
Licence: CC-BY-SA-3.0

----------------------------------------

1 - Layouts
    1.1 - Base
    1.2 - Position
    1.3 - < 960px
    1.4 - 640px < 960px
    1.5 - > 640px

----------------------------------------*/

/*----------------------------------------*/
/* 1.1 - Base */
/*----------------------------------------*/

.grid-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-right: 0 !important;
    margin-bottom: 2rem;
}

.grid-container:last-of-type { margin-bottom: 0; }

.grid-container.row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.grid-container.col {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.grid-container.col-reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
}

.grid-container.col [class*="grid-"] { margin-bottom: 2rem; }
.grid-container.col [class*="grid-"]:last-of-type { margin-bottom: 0; }

.grid-container.col-reverse [class*="grid-"] { margin-top: 2rem; }
.grid-container.col-reverse [class*="grid-"]:last-of-type { margin-top: 0; }

/*----------------------------------------*/
/* 1.2 - Position */
/*----------------------------------------*/

.grid-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.grid-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.grid-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.grid-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.grid-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.grid-top {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
}

.grid-middle {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.grid-bottom {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.grid-stretch {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.grid-first {
    -webkit-order: -1;
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
}

.grid-last {
    -webkit-order: 1;
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
}

/*----------------------------------------*/
/* 1.3 - < 960px */
/*----------------------------------------*/

[class*="grid-"] {
    box-sizing: border-box;
    margin-right: 2rem;
}

.grid-1 { width: calc( 100% / 12 * 1 - 2rem); }
.grid-2 { width: calc( 100% / 12 * 2 - 2rem); }
.grid-3 { width: calc( 100% / 12 * 3 - 2rem); }
.grid-4 { width: calc( 100% / 12 * 4 - 2rem); }
.grid-5 { width: calc( 100% / 12 * 5 - 2rem); }
.grid-6 { width: calc( 100% / 12 * 6 - 2rem); }
.grid-7 { width: calc( 100% / 12 * 7 - 2rem); }
.grid-8 { width: calc( 100% / 12 * 8 - 2rem); }
.grid-9 { width: calc( 100% / 12 * 9 - 2rem); }
.grid-10 { width: calc( 100% / 12 * 10 - 2rem); }
.grid-11 { width: calc( 100% / 12 * 11 - 2rem); }
.grid-12 { width: calc( 100% / 12 * 12 - 2rem); }

.grid-1-offset { margin-left: calc( 100% / 12 * 1); }
.grid-2-offset { margin-left: calc( 100% / 12 * 2); }
.grid-3-offset { margin-left: calc( 100% / 12 * 3); }
.grid-4-offset { margin-left: calc( 100% / 12 * 4); }
.grid-5-offset { margin-left: calc( 100% / 12 * 5); }
.grid-6-offset { margin-left: calc( 100% / 12 * 6); }
.grid-7-offset { margin-left: calc( 100% / 12 * 7); }
.grid-8-offset { margin-left: calc( 100% / 12 * 8); }
.grid-9-offset { margin-left: calc( 100% / 12 * 9); }
.grid-10-offset { margin-left: calc( 100% / 12 * 10); }
.grid-11-offset { margin-left: calc( 100% / 12 * 11); }
.grid-12-offset { margin-left: calc( 100% / 12 * 12); }

.grid-auto {
    -webkit-flex: 1 1 auto ;
    -ms-flex: 1 1 auto ;
    -webkit-box-flex: 1 ;
    flex: 1 1 auto ;
    max-width: 100%;
}

/*----------------------------------------*/
/* 1.4 - 640px < 960px */
/*----------------------------------------*/

@media screen and (min-width: 641px) and (max-width: 960px) {

    .grid-1-md { width: calc( 100% / 12 * 1 - 2rem); }
    .grid-2-md { width: calc( 100% / 12 * 2 - 2rem); }
    .grid-3-md { width: calc( 100% / 12 * 3 - 2rem); }
    .grid-4-md { width: calc( 100% / 12 * 4 - 2rem); }
    .grid-5-md { width: calc( 100% / 12 * 5 - 2rem); }
    .grid-6-md { width: calc( 100% / 12 * 6 - 2rem); }
    .grid-7-md { width: calc( 100% / 12 * 7 - 2rem); }
    .grid-8-md { width: calc( 100% / 12 * 8 - 2rem); }
    .grid-9-md { width: calc( 100% / 12 * 9 - 2rem); }
    .grid-10-md { width: calc( 100% / 12 * 10 - 2rem); }
    .grid-11-md { width: calc( 100% / 12 * 11 - 2rem); }
    .grid-12-md { width: calc( 100% / 12 * 12 - 2rem); }

    .grid-1-offset-md { margin-left: calc( 100% / 12 * 1); }
    .grid-2-offset-md { margin-left: calc( 100% / 12 * 2); }
    .grid-3-offset-md { margin-left: calc( 100% / 12 * 3); }
    .grid-4-offset-md { margin-left: calc( 100% / 12 * 4); }
    .grid-5-offset-md { margin-left: calc( 100% / 12 * 5); }
    .grid-6-offset-md { margin-left: calc( 100% / 12 * 6); }
    .grid-7-offset-md { margin-left: calc( 100% / 12 * 7); }
    .grid-8-offset-md { margin-left: calc( 100% / 12 * 8); }
    .grid-9-offset-md { margin-left: calc( 100% / 12 * 9); }
    .grid-10-offset-md { margin-left: calc( 100% / 12 * 10); }
    .grid-11-offset-md { margin-left: calc( 100% / 12 * 11); }
    .grid-12-offset-md { margin-left: calc( 100% / 12 * 12); }

    .grid-auto-md {
        -webkit-flex: 1 1 auto ;
        -ms-flex: 1 1 auto ;
        -webkit-box-flex: 1 ;
        flex: 1 1 auto ;
        max-width: 100%;
    }

    [class*="-md"]:not([class*="grid-auto"]) {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }

}

/*----------------------------------------*/
/* 1.5 - > 640px */
/*----------------------------------------*/

@media screen and (max-width: 640px) {

    .grid-1-xs { width: calc( 100% / 12 * 1 - 2rem); }
    .grid-2-xs { width: calc( 100% / 12 * 2 - 2rem); }
    .grid-3-xs { width: calc( 100% / 12 * 3 - 2rem); }
    .grid-4-xs { width: calc( 100% / 12 * 4 - 2rem); }
    .grid-5-xs { width: calc( 100% / 12 * 5 - 2rem); }
    .grid-6-xs { width: calc( 100% / 12 * 6 - 2rem); }
    .grid-7-xs { width: calc( 100% / 12 * 7 - 2rem); }
    .grid-8-xs { width: calc( 100% / 12 * 8 - 2rem); }
    .grid-9-xs { width: calc( 100% / 12 * 9 - 2rem); }
    .grid-10-xs { width: calc( 100% / 12 * 10 - 2rem); }
    .grid-11-xs { width: calc( 100% / 12 * 11 - 2rem); }
    .grid-12-xs { width: calc( 100% / 12 * 12 - 2rem); }

    .grid-1-offset-xs { margin-left: calc( 100% / 12 * 1); }
    .grid-2-offset-xs { margin-left: calc( 100% / 12 * 2); }
    .grid-3-offset-xs { margin-left: calc( 100% / 12 * 3); }
    .grid-4-offset-xs { margin-left: calc( 100% / 12 * 4); }
    .grid-5-offset-xs { margin-left: calc( 100% / 12 * 5); }
    .grid-6-offset-xs { margin-left: calc( 100% / 12 * 6); }
    .grid-7-offset-xs { margin-left: calc( 100% / 12 * 7); }
    .grid-8-offset-xs { margin-left: calc( 100% / 12 * 8); }
    .grid-9-offset-xs { margin-left: calc( 100% / 12 * 9); }
    .grid-10-offset-xs { margin-left: calc( 100% / 12 * 10); }
    .grid-11-offset-xs { margin-left: calc( 100% / 12 * 11); }
    .grid-12-offset-xs { margin-left: calc( 100% / 12 * 12); }

    .grid-auto-xs {
        -webkit-flex: 1 1 auto ;
        -ms-flex: 1 1 auto ;
        -webkit-box-flex: 1 ;
        flex: 1 1 auto ;
        max-width: 100%;
    }

    [class*="-xs"]:not([class*="grid-auto"]) {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }

}