/*----------------------------------------

2012 - 2016 @ All rights reserved
Author: Kevin Py
Website: www.kevinpy.com
Flexo v 0.1.0
Website: https://kevinpy.com/Projects/Flexo/
Licence: CC-BY-SA-3.0

----------------------------------------

1 - Layouts
    1.1 - Base
    1.2 - Position
    1.3 - < 960px
    1.4 - 640px < 960px
    1.5 - 320px < 640px
    1.6 - > 320px

----------------------------------------*/

/*----------------------------------------*/
/* 1.1 - Base */
/*----------------------------------------*/

.flexo-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-bottom: 2rem;
}

.flexo-container:last-of-type { margin-bottom: 0; }

.flexo-container.row-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.flexo-container.col {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.flexo-container.col-reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
}

/*.flexo-container.col [class*="grid-"] { margin-bottom: 2rem; }
.flexo-container.col [class*="grid-"]:last-of-type { margin-bottom: 0; }

.flexo-container.col-reverse [class*="grid-"] { margin-top: 2rem; }
.flexo-container.col-reverse [class*="grid-"]:last-of-type { margin-top: 0; }*/

/*----------------------------------------*/
/* 1.2 - Position */
/*----------------------------------------*/

.flexo-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.flexo-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.flexo-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.flexo-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.flexo-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.flexo-top {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
}

.flexo-middle {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.flexo-bottom {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.flexo-first {
    -webkit-order: -1;
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
}

.flexo-last {
    -webkit-order: 1;
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
}

/*----------------------------------------*/
/* 1.3 - < 960px */
/*----------------------------------------*/

[class*="grid-"] {
    box-sizing: border-box;
    padding: 1rem;
}

.grid-1 { width: calc( 100% / 12 * 1); }
.grid-2 { width: calc( 100% / 12 * 2); }
.grid-3 { width: calc( 100% / 12 * 3); }
.grid-4 { width: calc( 100% / 12 * 4); }
.grid-5 { width: calc( 100% / 12 * 5); }
.grid-6 { width: calc( 100% / 12 * 6); }
.grid-7 { width: calc( 100% / 12 * 7); }
.grid-8 { width: calc( 100% / 12 * 8); }
.grid-9 { width: calc( 100% / 12 * 9); }
.grid-10 { width: calc( 100% / 12 * 10); }
.grid-11 { width: calc( 100% / 12 * 11); }
.grid-12 { width: calc( 100% / 12 * 12); }

.grid-1-offset { margin-left: calc( 100% / 12 * 1); }
.grid-2-offset { margin-left: calc( 100% / 12 * 2); }
.grid-3-offset { margin-left: calc( 100% / 12 * 3); }
.grid-4-offset { margin-left: calc( 100% / 12 * 4); }
.grid-5-offset { margin-left: calc( 100% / 12 * 5); }
.grid-6-offset { margin-left: calc( 100% / 12 * 6); }
.grid-7-offset { margin-left: calc( 100% / 12 * 7); }
.grid-8-offset { margin-left: calc( 100% / 12 * 8); }
.grid-9-offset { margin-left: calc( 100% / 12 * 9); }
.grid-10-offset { margin-left: calc( 100% / 12 * 10); }
.grid-11-offset { margin-left: calc( 100% / 12 * 11); }
.grid-12-offset { margin-left: calc( 100% / 12 * 12); }

.grid-auto {
    -webkit-flex: 1 1 auto ;
    -ms-flex: 1 1 auto ;
    -webkit-box-flex: 1 ;
    flex: 1 1 auto ;
    max-width: 100%;
}

/*----------------------------------------*/
/* 1.4 - 640px < 960px */
/*----------------------------------------*/

@media screen and (min-width: 641px) and (max-width: 960px) {

    [class*="grid-"] {
        box-sizing: border-box;
        padding: 1rem;
    }

    .grid-1-l { width: calc( 100% / 12 * 1); }
    .grid-2-l { width: calc( 100% / 12 * 2); }
    .grid-3-l { width: calc( 100% / 12 * 3); }
    .grid-4-l { width: calc( 100% / 12 * 4); }
    .grid-5-l { width: calc( 100% / 12 * 5); }
    .grid-6-l { width: calc( 100% / 12 * 6); }
    .grid-7-l { width: calc( 100% / 12 * 7); }
    .grid-8-l { width: calc( 100% / 12 * 8); }
    .grid-9-l { width: calc( 100% / 12 * 9); }
    .grid-10-l { width: calc( 100% / 12 * 10); }
    .grid-11-l { width: calc( 100% / 12 * 11); }
    .grid-12-l { width: calc( 100% / 12 * 12); }

    .grid-1-offset-l { margin-left: calc( 100% / 12 * 1); }
    .grid-2-offset-l { margin-left: calc( 100% / 12 * 2); }
    .grid-3-offset-l { margin-left: calc( 100% / 12 * 3); }
    .grid-4-offset-l { margin-left: calc( 100% / 12 * 4); }
    .grid-5-offset-l { margin-left: calc( 100% / 12 * 5); }
    .grid-6-offset-l { margin-left: calc( 100% / 12 * 6); }
    .grid-7-offset-l { margin-left: calc( 100% / 12 * 7); }
    .grid-8-offset-l { margin-left: calc( 100% / 12 * 8); }
    .grid-9-offset-l { margin-left: calc( 100% / 12 * 9); }
    .grid-10-offset-l { margin-left: calc( 100% / 12 * 10); }
    .grid-11-offset-l { margin-left: calc( 100% / 12 * 11); }
    .grid-12-offset-l { margin-left: calc( 100% / 12 * 12); }

    .grid-auto-l {
        -webkit-flex: 1 1 auto ;
        -ms-flex: 1 1 auto ;
        -webkit-box-flex: 1 ;
        flex: 1 1 auto ;
        max-width: 100%;
    }

    [class*="-l"]:not([class*="grid-auto"]) {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }

}

/*----------------------------------------*/
/* 1.5 - 320px < 640px */
/*----------------------------------------*/

@media screen and (min-width: 321px) and (max-width: 640px) {

    .grid-1-m { width: calc( 100% / 12 * 1); }
    .grid-2-m { width: calc( 100% / 12 * 2); }
    .grid-3-m { width: calc( 100% / 12 * 3); }
    .grid-4-m { width: calc( 100% / 12 * 4); }
    .grid-5-m { width: calc( 100% / 12 * 5); }
    .grid-6-m { width: calc( 100% / 12 * 6); }
    .grid-7-m { width: calc( 100% / 12 * 7); }
    .grid-8-m { width: calc( 100% / 12 * 8); }
    .grid-9-m { width: calc( 100% / 12 * 9); }
    .grid-10-m { width: calc( 100% / 12 * 10); }
    .grid-11-m { width: calc( 100% / 12 * 11); }
    .grid-12-m { width: calc( 100% / 12 * 12); }

    .grid-1-offset-m { margin-left: calc( 100% / 12 * 1); }
    .grid-2-offset-m { margin-left: calc( 100% / 12 * 2); }
    .grid-3-offset-m { margin-left: calc( 100% / 12 * 3); }
    .grid-4-offset-m { margin-left: calc( 100% / 12 * 4); }
    .grid-5-offset-m { margin-left: calc( 100% / 12 * 5); }
    .grid-6-offset-m { margin-left: calc( 100% / 12 * 6); }
    .grid-7-offset-m { margin-left: calc( 100% / 12 * 7); }
    .grid-8-offset-m { margin-left: calc( 100% / 12 * 8); }
    .grid-9-offset-m { margin-left: calc( 100% / 12 * 9); }
    .grid-10-offset-m { margin-left: calc( 100% / 12 * 10); }
    .grid-11-offset-m { margin-left: calc( 100% / 12 * 11); }
    .grid-12-offset-m { margin-left: calc( 100% / 12 * 12); }

    .grid-auto-m {
        -webkit-flex: 1 1 auto ;
        -ms-flex: 1 1 auto ;
        -webkit-box-flex: 1 ;
        flex: 1 1 auto ;
        max-width: 100%;
    }

    [class*="-m"]:not([class*="grid-auto"]) {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }

}

/*----------------------------------------*/
/* 1.6 - > 320px */
/*----------------------------------------*/

@media screen and (max-width: 320px) {

    .grid-1-s { width: calc( 100% / 12 * 1); }
    .grid-2-s { width: calc( 100% / 12 * 2); }
    .grid-3-s { width: calc( 100% / 12 * 3); }
    .grid-4-s { width: calc( 100% / 12 * 4); }
    .grid-5-s { width: calc( 100% / 12 * 5); }
    .grid-6-s { width: calc( 100% / 12 * 6); }
    .grid-7-s { width: calc( 100% / 12 * 7); }
    .grid-8-s { width: calc( 100% / 12 * 8); }
    .grid-9-s { width: calc( 100% / 12 * 9); }
    .grid-10-s { width: calc( 100% / 12 * 10); }
    .grid-11-s { width: calc( 100% / 12 * 11); }
    .grid-12-s { width: calc( 100% / 12 * 12); }

    .grid-1-offset-s { margin-left: calc( 100% / 12 * 1); }
    .grid-2-offset-s { margin-left: calc( 100% / 12 * 2); }
    .grid-3-offset-s { margin-left: calc( 100% / 12 * 3); }
    .grid-4-offset-s { margin-left: calc( 100% / 12 * 4); }
    .grid-5-offset-s { margin-left: calc( 100% / 12 * 5); }
    .grid-6-offset-s { margin-left: calc( 100% / 12 * 6); }
    .grid-7-offset-s { margin-left: calc( 100% / 12 * 7); }
    .grid-8-offset-s { margin-left: calc( 100% / 12 * 8); }
    .grid-9-offset-s { margin-left: calc( 100% / 12 * 9); }
    .grid-10-offset-s { margin-left: calc( 100% / 12 * 10); }
    .grid-11-offset-s { margin-left: calc( 100% / 12 * 11); }
    .grid-12-offset-s { margin-left: calc( 100% / 12 * 12); }

    .grid-auto-s {
        -webkit-flex: 1 1 auto ;
        -ms-flex: 1 1 auto ;
        -webkit-box-flex: 1 ;
        flex: 1 1 auto ;
        max-width: 100%;
    }

    [class*="-s"]:not([class*="grid-auto"]) {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
    }

}