/*----------------------------------------

2012 - 2016 @ All rights reserved
Author: Kevin Py
Website: www.kevinpy.com
Iceberg v 0.2.0
Website: https://kevinpy.com/Projects/Iceberg/
Licence: CC-BY-SA-3.0

----------------------------------------

1 - General
    1.1 - Normalize.css | 3.0.3
    1.2 - Base
    1.3 - Typography
    1.4 - Styling
    1.5 - Table
    1.6 - Forms
    1.7 - Print

----------------------------------------*/

/*----------------------------------------*/
/* 1.1 - Normalize.css | 4.0.0 */
/*----------------------------------------*/

progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} figcaption, menu,article,aside,details,figure,footer,header,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0} [hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:700} select,button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button:-moz-focusring,input:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}

/*----------------------------------------*/
/* 1.2 - Base */
/*----------------------------------------*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
    font-size: calc(1em * .625);
}

body {
    background-color: #fff;
    color: #000;
    font-family: sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
}

/*----------------------------------------*/
/* 1.3 - Typography */
/*----------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    line-height: 125%;
    margin: 0;
}

h1 { font-size: 3.6rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2.8rem; }
h4 { font-size: 2.4rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.6rem; }

p {
    font-size: 1.4rem;
    line-height: 150%;
    margin: 0;
}

a { color: #1a0dab; }

a:hover,
a:focus,
a:active { color: #888; }
a:visited { color: #609; }

var,
kbd,
samp,
code,
pre {
    white-space: pre-line;
    white-space: pre-wrap;
    font-family: monospace;
    line-height: normal;
}

code {
    padding: .5rem;
    background: #eee;
}

b,
strong,
dfn,
kbd { font-weight: bold; }

i,
em,
dfn,
cite,
samp,
var,
address { font-style: italic; }

sup {
    font-size: 1.1rem;
    vertical-align: top;
}

sub {
    font-size: 1.1rem;
    vertical-align: bottom;
}

del { text-decoration: line-through; }
ins { text-decoration: underline; }
abbr[title] { cursor: help; }

.smaller { font-size: 50%; }
.small { font-size: 80%; }
.big { font-size: 120%; }
.bigger { font-size: 150%; }


/*----------------------------------------*/
/* 1.4 - Styling */
/*----------------------------------------*/

::-moz-selection,
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    border: none;
    border-bottom: 1px solid #888;
    margin: 1rem 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

img:not([src$=".svg"]) { height: auto; }

audio,
canvas,
iframe,
img,
svg,
video { vertical-align: middle; }

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after { clear: both; }
.fleft { float: left; }
.fright { float: right; }
.hide { display: none !important; }
.invisible { visibility: hidden !important; }
img.fleft { margin-right: 1rem; }
img.fright { margin-left: 1rem; }

img.fleft,
img.fright { margin-bottom: 1rem; }

/*----------------------------------------*/
/* 1.5 - Table */
/*----------------------------------------*/

table {
    display: table;
    width: 100%;
    max-width: 100%;
    margin: 1rem auto;
    table-layout: fixed;
    vertical-align: top;
    border: thin solid #444;
}

th,
td {
    padding: .5rem;
    vertical-align: middle;
    cursor: default;
}

caption { font-weight: bold; }
thead { background-color: #bbb; }
tfoot { font-style: italic; }
table.stripped tr:nth-of-type(even) { background-color: #eee; }
.cell-left { text-align: left; }
.cell-center { text-align: center; }
.cell-right { text-align: right; }

/*----------------------------------------*/
/* 1.6 - Forms */
/*----------------------------------------*/

label,
input,
textarea,
button,
select {
    display: block;
    font-size: inherit;
    font-family: inherit;
}

textarea {
    min-height: 5rem;
    resize: vertical;
}

select { -webkit-appearance: menulist-button; }
legend {  white-space: normal; }

input.mobile,
textarea.mobile,
button.mobile,
input[type="button"].mobile,
input[type="submit"].mobile,
input[type="reset"].mobile {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/*----------------------------------------*/
/* 1.7 - Print */
/*----------------------------------------*/

@media print {

    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    body {
        width: auto;
        height: auto;
        font-family: serif;
        font-size: 12pt;
    }

    .print { display: block; }
    .no-print { display: none; }

    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ") "; }
    abbr[title]:after { content: " (" attr(title) ") "; }

    pre, blockquote {
        border: 1px solid #888;
        page-break-inside: avoid;
    }

    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    p { orphans: 3; widows: 3; }
    h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }

}