/*----------------------------------------

2012 - 2016 @ All rights reserved
Author: Kevin Py
Website: www.kevinpy.com
Iceberg v 0.0.2
Website: https://kevinpy.com/Projects/Iceberg/
Licence: CC-BY-SA-3.0

----------------------------------------

1 - General
	1.1 - Import
	1.2 - Style

99 - Media Queries
	99.1 - < 960px
	99.2 - 640px < 960px
	99.3 - > 640px

----------------------------------------*/

/*----------------------------------------*/
/* 1.1 - Import */
/*----------------------------------------*/



/*----------------------------------------*/
/* 1.2 - Style */
/*----------------------------------------*/



/*----------------------------------------*/
/* 99.1 - < 960px */
/*----------------------------------------*/

@media screen and (min-width: 961px) {



}

/*----------------------------------------*/
/* 99.2 - 640px < 960px */
/*----------------------------------------*/

@media screen and (min-width: 641px) and (max-width: 960px) {



}

/*----------------------------------------*/
/* 99.3 - > 640px */
/*----------------------------------------*/

@media screen and (max-width: 640px) {



}