/*----------------------------------------

2012 - 2016 @ All rights reserved
Author: Kevin Py
<<<<<<< HEAD
Website: www.kevinpy.com
Iceberg v 0.0.2
Website: https://kevinpy.com/Projects/Iceberg/
=======
Website: www.kpy.me
Iceberg v 0.0.1
Website: http://kpy.me/Projects/Iceberg/
>>>>>>> origin/master
Licence: CC-BY-SA-3.0

----------------------------------------

1 - General
	1.1 - Import
<<<<<<< HEAD
	1.2 - Style

99 - Media Queries
	99.1 - < 960px
	99.2 - 640px < 960px
	99.3 - > 640px
=======
	1.2 - General
	1.3 - Elements
	1.4 - Header
	1.5 - Content
	1.6 - Footer

2 - Pages
	2.1 - Homepage

99 - Media Queries
	99.1 - > 960px
	99.2 - 640px < 960px
	99.3 - < 640px
	99.4 - Print
>>>>>>> origin/master

----------------------------------------*/

/*----------------------------------------*/
/* 1.1 - Import */
/*----------------------------------------*/



/*----------------------------------------*/
/* 1.2 - Style */
/*----------------------------------------*/

<<<<<<< HEAD


/*----------------------------------------*/
/* 99.1 - < 960px */
/*----------------------------------------*/

@media screen and (min-width: 961px) {



=======
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html { font-size: 62.5%; }

body {
	font-family: Arial, sans-serif;
	background: #fff;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 125%;
}
h1 { font-size: 3.6rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2.8rem; }
h4 { font-size: 2.4rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.6rem; }

p {
	font-size: 1.4rem;
	line-height: 150%;
}

a {

}

a:hover {

}

img { display: block; height: auto; }
a img { border: none; }
a > img { vertical-align: bottom; }
img { display: block; }
address { font-style: italic; }
abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: thin solid dotted #000; }
strong, dfn, kbd { font-weight: bold; }
em, dfn, cite, samp, var { font-style: italic; }
sup { font-size: 1.1rem; vertical-align: top; }
sub { font-size: 1.1rem; vertical-align: bottom; }
small { font-size: 1.1rem; }
del { text-decoration: line-through; }
ins { text-decoration: underline; }
code, pre { line-height: 150%; }
var, kbd, samp, code, pre { font-family: monospace; background: #fff; }
code { padding: .5rem; }
pre {
	white-space: pre;
	overflow: auto;
	padding: 1rem;
	border: thin solid #000;
	clear: both;
	background: none;
	margin: 3rem auto;
}
table {
	border: thin solid #000;
	line-height: 1.8rem;
	margin: 0 0 2rem 0;
	text-align: left;
	padding: 0 .5rem;
}
caption { text-align: left; }
tr { border-bottom: thin solid #000; }
th, td { padding: .5rem; vertical-align: middle; text-align: center; }

hr {
	display: block;
	border: none;
	border-bottom: thin solid #000;
	margin: 1rem 0;
	padding: 0;
}

textarea { resize: vertical; }

.clearfix:before, .clearfix:after { content: "."; display: block; height: 0; overflow: hidden; }
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}
.hide { display: none; visibility: hidden; }
.left { float: left; width: auto; }
.right { float: right; width: auto; }
.center { margin: 0 auto; display: block; clear: both; }

.browseHappy {
	width: 100%;
	padding: 5px;
	background-color: #2b4141;
	color: #fff;
	font: 13px / 125% Arial, sans-serif;
	text-align: center;
}

.browseHappy a {
	color: #fff;
	font-weight: bold;
}

::-moz-selection,
::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*----------------------------------------*/
/* 1.3 - Elements */
/*----------------------------------------*/



/*----------------------------------------*/
/* 1.4 - Header */
/*----------------------------------------*/



/*----------------------------------------*/
/* 1.5 - Content */
/*----------------------------------------*/



/*----------------------------------------*/
/* 1.6 - Footer */
/*----------------------------------------*/



/*----------------------------------------*/
/* 2.1 - Homepage */
/*----------------------------------------*/



/*----------------------------------------*/
/* 99.1 - > 960px */
/*----------------------------------------*/

@media screen and (min-width: 961px) {
	
>>>>>>> origin/master
}

/*----------------------------------------*/
/* 99.2 - 640px < 960px */
/*----------------------------------------*/

@media screen and (min-width: 641px) and (max-width: 960px) {

<<<<<<< HEAD


}

/*----------------------------------------*/
/* 99.3 - > 640px */
=======
}

/*----------------------------------------*/
/* 99.3 - < 640px */
>>>>>>> origin/master
/*----------------------------------------*/

@media screen and (max-width: 640px) {

<<<<<<< HEAD

=======
}

/*----------------------------------------*/
/* 99.4 - Print */
/*----------------------------------------*/

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none;
		text-shadow: none;
	}
	@page { margin: .5cm; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ") "; }
	abbr[title]:after { content: " (" attr(title) ") "; }

	pre, blockquote {
		border: 1px solid #888;
		page-break-inside: avoid;
	}

	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p { orphans: 3; widows: 3; }
	h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }
>>>>>>> origin/master

}